@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .line-clamp-10 {
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .line-clamp-15 {
        display: -webkit-box;
        -webkit-line-clamp: 15;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
    
}
